<!DOCTYPE html>
<html lang="en">
    <head>
        <title>kim_Jin_UUU</title>
        <link  rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="index-style.css" >
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image⁄x-icon" href="1.Title_img.jpg">
    </head>
<body>
    <form action="/login" method="POST">
        ID : <input name='id' type='text'/><br>
        Password : <input name='pwd' type='password' maxlength='18'/><br>
        <input type='submit'>
    </form>


</body>
</html>



